.div1{
    border:2px solid red;
    background-color: cornsilk;
    margin: 100px;
}
.p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}